{extends ../../../templates/@layoutFull.latte}

{block content}
<div class="pV10 pH25">

	{control breadcrumbs}

	<h2 n:block="title">{$author}</h2>

	<div class="content" n:inner-foreach="$articles as $article">
		<h3><a n:href=":Blog:Articles:show $article->id, $article->title">{$article->title}</a></h3>
	</div>

</div>
