{extends ../@layoutSlim.latte}

{block content}

<div class="pV10 pH25">

    <div n:if="count($flashes)" n:inner-foreach="$flashes as $flash" class="flash">
        <div class="{$flash->type}">{$flash->message}</div>
    </div>

    {control breadcrumbs}

    <h2 n:block="title" class="mT50 fS2">Prihlasovanie</h2>


    {control signInForm}

</div>

{* or use {include '../components/form.latte', form => signInForm} *}
