{extends ../@layoutSlim.latte}

{block content}
<div class="pV10 pH25">

    <h1 n:block=title>Registrácia</h1>

    {control breadcrumbs}

    <div n:if="count($flashes)" n:inner-foreach="$flashes as $flash" class="flash">
        <div class="{$flash->type}">{$flash->message}</div>
    </div>

    {control registForm}

    {* or use {include '../components/form.latte', form => registInForm} *}

</div>